.recipe-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: sans-serif;
  margin-top: 40px;
  margin-bottom: 20px;
  min-height: 85vh;
  background: var(--color-fondo-modal);
  border: 2px solid var(--color-fondo-modal-borde);
  border-radius: 10px;
  justify-content: center;

  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
  }

  label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }

  input {
    display: block;
    width: 94%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 6px;
    background: var(--negro);
    color: var(--blanco);
  }

  .section {
    margin-bottom: 20px;

    h2 {
      margin-bottom: 10px;
      font-size: 18px;
    }

    .button_anadir {
      margin-top: 5px;
      padding: 6px 12px;
      border-radius: 6px;
      border: none;
      background-color: var(--color-fondo-boton);
      color: var(--blanco);
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    button {
      padding: 8px;
      border-radius: 8px;
      border: none;
      flex: 1;
      margin: 0 5px 20px;
      font-size: 12px;
    }

    button[type="submit"] {
      background-color: var(--color-fondo-boton);
      color: var(--blanco);
    }

    button[type="button"] {
      background-color: var(--color-fondo-boton-delete);
      color: var(--blanco);
    }
  }

  .input-row {
    display: flex;
    gap: 8px;
    align-items: center;

    input {
      flex: 1;
      margin-bottom: 8px; // quitamos el margin viejo
    }
  }

  .delete-input {
    background: var(--color-fondo-boton-delete);
    border: none;
    color: var(--blanco);
    width: 35px;
    height: 35px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
}
