.recipe-detail {
  padding: 20px;
  font-family: sans-serif;
  min-height: 90vh;
  border: 2px solid var(--color-fondo-modal-borde);
  background: var(--color-fondo-modal-light);
  border-radius: 10px;

  .back-btn {
    Button {
      width: 40px;
      height: 40px;
      padding: 4px 0 0 0;
      border-radius: 100%;
      border: 1px solid var(--blanco);
      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  h1 {
    text-align: center;
    margin-bottom: 15px;
  }

  section {
    margin-bottom: 20px;

    h2 {
      margin-bottom: 10px;
      font-size: 18px;
    }

    ul,
    ol {
      padding-left: 20px;

      li {
        margin-bottom: 5px;
      }
    }
  }

  .delete-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--color-fondo-boton-delete);
    color: var(--blanco);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
  }

  .lista-scroll {
    max-height: 150px; /* ajusta según tu diseño */
    overflow-y: auto;
    padding-left: 30px; /* evita que el scroll tape texto */
  }

  .dos-columnas {
    display: flex;
    flex-wrap: wrap; /* permite que los items pasen a la segunda “columna” */
    gap: 8px 20px; /* espacio entre filas y columnas */
    li {
      width: calc(50% - 10px); /* la mitad menos el gap */
      margin-bottom: 8px;
    }
  }

  .delete-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .imagen {
    width: 100px;
    height: 100px;
    border: 2px solid var(--color-fondo-modal-borde);
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }
}
