.mainPage {
  padding: 20px;
  .logout-button {
    position: absolute;

    Button {
      width: 40px;
      height: 40px;
      padding: 3px 2px 0 0;
      border-radius: 100%;
      border: 1px solid var(--blanco);

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .plus-button {
    Button {
      position: fixed;
      bottom: 50px;
      right: 20px;
      padding: 14px 15px;
      border-radius: 50%;
      border: 1px solid var(--blanco);
      background-color: var(--color-fondo-boton);
      z-index: 9999;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .exp-imp-buttons {
    display: flex;
    justify-content: right;
  }
}
