.modal-backdrop {
  position: fixed;
  inset: 0;
  background: var(--color-fondo-modal-backdrop);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  border: 3px solid var(--color-fondo-modal);
  background: var(--color-fondo-modal-borde);
  color: var(--blanco);
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.modal-buttons button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn-delete {
  background: var(--color-fondo-boton-delete);
  color: var(--blanco);
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-cancel {
  background: var(--color-fondo-modal-light);
  color: var(--negro);
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
